@charset "utf-8";
// SCSS Document
// ADDITIONAL SCSS

// MEDIA SCREEN
$screen-xs-min: 480px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

// FONTS
@font-face {
  font-family: 'Existence-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Existence-Light'), url('../fonts/existence/Existence-Light.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/helvetica-neue-lt-std-otf/HelveticaNeueLTStd-Lt.otf')
}

@font-face {
  font-family: 'Helvetica Neue LT Std Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/helvetica-neue-lt-std-otf/HelveticaNeueLTStd-BdCn.otf')
}

$font-default-stack: 'Lato', sans-serif;
$font-default-size: 16px;
$font-default-weight: 300;

$font-existence-stack: 'Existence-Light', 'Lucida Grande', Verdana, Calibri, Arial, sans-serif;
$font-helvetica-stack: 'Helvetica Neue LT Std', 'Lucida Grande', Verdana, Calibri, Arial, sans-serif;
$font-helvetica-condensed-stack: 'Helvetica Neue LT Std Condensed', 'Lucida Grande', Verdana, Calibri, Arial, sans-serif;



// COLORS
$color-prime: #676767;
$color-active: #9f449b;

// MIXINS
@mixin Transition($value) {-webkit-transition: $value; -moz-transition: $value; -o-transition: $value; transition: $value;}
@mixin BorderRadius($value) {-webkit-border-radius: $value; -moz-border-radius: $value; border-radius: $value;}
@mixin BorderRadiusTopLeft($value) {-webkit-border-top-left-radius: $value; -moz-border-top-left-radius: $value; border-top-left-radius: $value;}
@mixin BorderRadiusTopRight($value) {-webkit-border-top-right-radius: $value; -moz-border-top-right-radius: $value; border-top-right-radius: $value;}
@mixin BorderRadiusBottomLeft($value) {-webkit-border-bottom-left-radius: $value; -moz-border-bottom-left-radius: $value; border-bottom-left-radius: $value;}
@mixin BorderRadiusBottomRight($value) {-webkit-border-bottom-right-radius: $value; -moz-border-bottom-right-radius: $value; border-bottom-right-radius: $value;}
@mixin BoxShadow($value) {-webkit-box-shadow: $value; -moz-box-shadow: $value; box-shadow: $value;}
@mixin Transform($value) {-webkit-transform: $value; -moz-transform: $value; transform: $value;}