/* CSS Document */
@font-face {
  font-family: 'Existence-Light';
  font-style: normal;
  font-weight: 300;
  src: local("Existence-Light"), url("../fonts/existence/Existence-Light.woff") format("woff"); }
@font-face {
  font-family: 'Helvetica Neue LT Std';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/helvetica-neue-lt-std-otf/HelveticaNeueLTStd-Lt.otf"); }
@font-face {
  font-family: 'Helvetica Neue LT Std Condensed';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/helvetica-neue-lt-std-otf/HelveticaNeueLTStd-BdCn.otf"); }
html, body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #676767;
  background-color: #fff;
  height: 100%;
  min-height: 100%; }

body.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #461e44;
  background-image: url("../images/tail-spin.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25%; }

body.loading > * {
  opacity: 0 !important;
  visibility: hidden !important; }

#preload {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0; }

.color-prime {
  color: #676767; }

.color-active {
  color: #9f449b; }

.max-width-100 {
  max-width: 100%; }

.vertical-align-parent {
  display: table;
  width: 100%;
  height: 100%; }

.vertical-align-child {
  display: table-cell;
  vertical-align: middle; }

.transition-fast {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear; }

.transition {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.transition-long {
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear; }

.opacityVisible {
  opacity: 1 !important;
  bottom: 0 !important; }

.btn-primary {
  background: #9f449b;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  border-color: #692d67;
  border-width: 0 0 3px 0;
  padding: 20px 60px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear; }

.btn-primary:focus, .btn-primary:hover {
  background: #692d67;
  border-color: #692d67; }

form ::-webkit-input-placeholder {
  color: #222; }
form :-moz-placeholder {
  color: #222; }
form ::-moz-placeholder {
  color: #222; }
form :-ms-input-placeholder {
  color: #222; }

.form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-color: #777;
  font-size: 23px;
  height: auto;
  padding: 20px 30px 10px;
  margin: 38px 0; }

.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #9f449b; }

.form-group:first-child input, .form-group:first-child textarea {
  margin-top: 0; }

header h2 {
  font-family: "Existence-Light", "Lucida Grande", Verdana, Calibri, Arial, sans-serif;
  font-size: 48px;
  font-weight: 300;
  text-align: center;
  margin: 30px 0; }

header h2.header::before, header h2.header::after {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../images/header-corner.png");
  background-size: 30px;
  background-position: bottom left;
  background-repeat: no-repeat;
  position: relative;
  bottom: -30px; }

header h2.header::after {
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
  filter: FlipH, FlipV;
  -ms-filter: "FlipH, FlipV";
  bottom: auto;
  top: -40px; }

.slick-dots li {
  width: 10px;
  height: 10px; }
  .slick-dots li button {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0; }
  .slick-dots li button:before {
    content: '';
    width: 9px;
    height: 9px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    transition: all 0.6s linear;
    border: 1px solid #777; }
.slick-dots li.slick-active button:before {
  background-color: #777; }

.alerts {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }

.alerts.bottom {
  top: auto;
  bottom: 0; }
  .alerts.bottom .alert:last-child {
    margin-bottom: 0; }

.alert {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.alert-warning {
  background: rgba(252, 248, 227, 0.9); }

.alert-success {
  background: rgba(223, 240, 216, 0.9); }

.alert-info {
  background: rgba(217, 237, 247, 0.9); }

.alert-danger {
  background: rgba(242, 222, 222, 0.9); }

.blured-quote {
  padding: 8% 0;
  text-align: center;
  background-image: url("../images/blured.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .blured-quote h3 {
    font-size: 24px;
    font-weight: 400;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff; }

.avatar, .slick-slide img.avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline;
  max-width: 250px;
  max-height: 250px; }

.social-icons > a {
  color: #676767;
  display: inline-block;
  border: 1px solid #777;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear; }

.navbar-default {
  background: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  margin: 0;
  -webkit-transition: height 0.1s linear;
  -moz-transition: height 0.1s linear;
  -o-transition: height 0.1s linear;
  transition: height 0.1s linear; }
  .navbar-default .navbar-brand {
    font-family: "Existence-Light", "Lucida Grande", Verdana, Calibri, Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #676767;
    padding: 0 15px;
    line-height: 50px;
    -webkit-transition: line-height 0.1s linear;
    -moz-transition: line-height 0.1s linear;
    -o-transition: line-height 0.1s linear;
    transition: line-height 0.1s linear; }
  .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    border-color: #9f449b;
    background-color: #9f449b;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    padding: 17px; }
    .navbar-default .navbar-toggle .icon-bar, .navbar-default .navbar-toggle:active .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
      background-color: #fff; }
  .navbar-default ul.navbar-nav li a {
    font-size: 18px;
    color: #676767;
    background: #fff;
    text-transform: uppercase;
    padding: 0 15px;
    line-height: 2.5em;
    text-shadow: none;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear; }
  .navbar-default ul.navbar-nav li a:active, .navbar-default ul.navbar-nav li a:focus, .navbar-default ul.navbar-nav li a:hover, .navbar-default ul.navbar-nav li a.active {
    background: #9f449b;
    color: #fff; }
  .navbar-default ul.navbar-nav li.active a, .navbar-default ul.navbar-nav li.active a:active, .navbar-default ul.navbar-nav li.active a:focus, .navbar-default ul.navbar-nav li.active a:hover, .navbar-default ul.navbar-nav li.active a.active {
    background: #9f449b;
    color: #fff; }

.navbar-default.navbar-start {
  position: absolute;
  z-index: 5;
  width: 100%; }

a.hexagon {
  display: inline-block;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 4.5vw;
  margin: 10px 0;
  width: 100%;
  height: 181px;
  background-image: url("../images/hexagon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; }
  a.hexagon img {
    width: 15vw; }
  a.hexagon p {
    margin: 0;
    padding-top: 10%;
    font-weight: 400; }

a.scroll-down {
  display: inline-block;
  width: 90px;
  height: 90px;
  background-image: url("../images/scroll-down.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-bottom: 20px; }

div.header {
  background-image: url("../images/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff; }
  div.header header .title {
    font-size: 48px;
    color: #fff;
    margin: 20px 0; }
  div.header header h3, div.header header p {
    font-weight: 300; }
  div.header header h3 {
    font-size: 36px; }
  div.header header p {
    font-size: 18px; }

.header-inner {
  padding: 8% 0; }

.feature {
  text-align: center;
  background-color: #eee;
  padding: 8% 0; }

.feature-inner {
  padding-top: 140px; }

.feature-item {
  margin: 30px 0;
  padding-top: 186px;
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear; }
  .feature-item h3 {
    font-weight: 300;
    font-size: 24px;
    margin: 15px 0; }
  .feature-item p {
    font-size: 16px; }

.feature-item:nth-child(1) {
  background-image: url("../images/heart.png"); }

.feature-item:nth-child(2) {
  background-image: url("../images/diamond.png"); }

.feature-item:nth-child(3) {
  background-image: url("../images/cup.png"); }

.feature-item:nth-child(4) {
  background-image: url("../images/phone.png"); }

.about-top {
  padding: 8% 0; }

.about-inner {
  padding-top: 8%; }
  .about-inner p {
    font-size: 16px;
    line-height: 36px; }

.about-text {
  text-align: center; }

.team-inner {
  padding-top: 8%; }

.team-slider {
  padding: 8% 0; }
  .team-slider .slider-buttons {
    text-align: center;
    padding-bottom: 8%; }
    .team-slider .slider-buttons > a {
      display: inline-block;
      margin: 0 5px; }

.team-member h4 {
  font-size: 24px;
  font-weight: 700;
  color: #484848;
  text-transform: uppercase;
  padding-top: 8%;
  margin: 0; }
.team-member p {
  font-weight: 400;
  font-size: 18px;
  color: #777;
  padding: 5% 0;
  margin: 0; }
.team-member .social-icons > a {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 1.2em;
  margin: 0 12px; }

.experience {
  padding: 8% 0; }

.progress {
  background: #f0f0f0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.progress-item {
  padding: 0 5%; }
  .progress-item h3 {
    font-size: 22px;
    color: #222;
    text-transform: uppercase; }
  .progress-item .rating {
    font-family: "Helvetica Neue LT Std", "Lucida Grande", Verdana, Calibri, Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #777; }

.progress-bar {
  background: #9f449b; }

.skills-bottom {
  padding: 8% 0;
  text-align: center;
  background-color: #eee; }

.statistics {
  font-family: "Helvetica Neue LT Std", "Lucida Grande", Verdana, Calibri, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1; }
  .statistics .statistics-item {
    margin-bottom: 15px; }
  .statistics .count {
    font-size: 42px;
    color: #222;
    margin: 0; }
  .statistics .label {
    font-size: 18px;
    color: #777;
    margin: 0;
    padding: 0; }

.testimonial-slider {
  padding-top: 8%;
  margin: 0; }
  .testimonial-slider .slick-dots {
    position: static;
    margin: 0; }

.testimonial-item .content {
  font-family: "Helvetica Neue LT Std", "Lucida Grande", Verdana, Calibri, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  max-width: 75%;
  margin: 3% auto;
  color: #4b4b4b; }
.testimonial-item .content::before {
  content: '\201C'; }
.testimonial-item .content::after {
  content: '\201D'; }
.testimonial-item .label {
  font-family: "Helvetica Neue LT Std Condensed", "Lucida Grande", Verdana, Calibri, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #777;
  padding: 0; }

#portfolio {
  font-family: "Helvetica Neue LT Std", "Lucida Grande", Verdana, Calibri, Arial, sans-serif;
  font-weight: 300;
  text-align: center; }

.portfolio-inner {
  padding: 8% 0; }

.portfolio-nav {
  border: 0;
  padding-top: 8%; }
  .portfolio-nav > li {
    display: inline-block;
    margin-bottom: 15px; }
    .portfolio-nav > li > a {
      margin: 0;
      font-size: 18px;
      text-transform: uppercase;
      color: #222;
      line-height: 1;
      padding: 10px 24px 6px 24px;
      border: 1px solid #000;
      background-color: #fff;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      transition: all 0.1s linear; }
    .portfolio-nav > li > a:focus, .portfolio-nav > li > a:hover {
      color: #fff;
      background-color: #9f449b;
      border-color: #9f449b; }
  .portfolio-nav > li.active > a, .portfolio-nav > li.active > a:focus, .portfolio-nav > li.active > a:hover {
    color: #fff;
    background-color: #9f449b;
    border-color: #9f449b; }

.portfolio-grid {
  margin-bottom: 30px; }
  .portfolio-grid .row > div {
    margin-bottom: 25px; }
  .portfolio-grid a {
    display: block;
    position: relative;
    margin-bottom: 15px; }
    .portfolio-grid a img {
      width: 100%; }
  .portfolio-grid figcaption {
    font-size: 20px;
    line-height: 1.1;
    color: #222; }
  .portfolio-grid .tags {
    font-size: 16px;
    color: #777;
    margin: 0; }

#contact {
  font-family: "Helvetica Neue LT Std", "Lucida Grande", Verdana, Calibri, Arial, sans-serif;
  font-weight: 300;
  text-align: center; }
  #contact header {
    padding: 8% 0; }
  #contact form {
    margin-bottom: 38px; }
  #contact .address, #contact address {
    font-family: "Helvetica Neue LT Std Condensed", "Lucida Grande", Verdana, Calibri, Arial, sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #222; }
    #contact .address > a, #contact address > a {
      color: #222; }
  #contact .social-icons > a {
    width: 75px;
    height: 75px;
    line-height: 86px;
    font-size: 2.5em;
    margin: 0 12px;
    text-align: center; }
  #contact .social-icons > a:first-child {
    margin-left: 0; }
  #contact .social-icons > a:last-child {
    margin-right: 0; }

.contact-short {
  font-size: 23px;
  color: #4b4b4b; }

.footer-inner {
  padding: 8% 0; }

.template-name {
  font-family: "Existence-Light", "Lucida Grande", Verdana, Calibri, Arial, sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: #676767;
  text-align: center; }

@media (min-width: 480px) {
  a.hexagon {
    font-size: 18px; }
    a.hexagon img {
      width: auto; } }
@media (min-width: 768px) {
  body.loading {
    background-size: 8%; }

  header h2 {
    margin: 20px 0; }

  .blured-quote h3 {
    font-size: 48px;
    font-weight: 300;
    margin-left: 0;
    margin-right: 0; }

  a.hexagon {
    width: 167px; }
    a.hexagon img {
      width: 40%; }

  div.header header .title {
    font-size: 90px; }
  div.header header h3, div.header header p {
    font-weight: 100; }
  div.header header h3 {
    font-size: 48px; }
  div.header header p {
    font-size: 24px; }

  .testimonial-item .content {
    font-size: 33px; }

  .portfolio-grid figcaption {
    font-size: 24px;
    line-height: 1.42857143; } }
@media (min-width: 992px) {
  .social-icons > a:hover {
    color: #9f449b;
    border-color: #9f449b; }

  .navbar-default .navbar-collapse {
    padding: 0; }
  .navbar-default .navbar-brand {
    height: auto;
    line-height: 140px;
    font-size: 30px; }
  .navbar-default ul.navbar-nav li a {
    line-height: 140px; }

  .navbar-default.navbar-start {
    height: 140px; }

  .navbar-default.navbar-fixed-top {
    height: 70px; }
    .navbar-default.navbar-fixed-top .navbar-brand {
      line-height: 70px; }
    .navbar-default.navbar-fixed-top ul.navbar-nav li a {
      line-height: 70px; }

  a.hexagon {
    width: 118px;
    height: 128px;
    font-size: 12px; }
    a.hexagon p {
      padding-top: 6%; }

  a.hexagon:active, a.hexagon:focus, a.hexagon:hover {
    background-image: url("../images/hexagon-active.png"); }

  a.scroll-down {
    width: 64px;
    height: 64px; }

  a.scroll-down:hover {
    background-image: url("../images/scroll-down-active.png"); }

  div.header {
    background-position: center center;
    background-attachment: fixed; }

  .home-grid .grid-left {
    text-align: right; }
  .home-grid .grid-right {
    text-align: left; }

  .feature-item:hover:nth-child(1) {
    background-image: url("../images/heart-active.png"); }

  .feature-item:hover:nth-child(2) {
    background-image: url("../images/diamond-active.png"); }

  .feature-item:hover:nth-child(3) {
    background-image: url("../images/cup-active.png"); }

  .feature-item:hover:nth-child(4) {
    background-image: url("../images/phone-active.png"); }

  .about-text {
    text-align: left; }

  .statistics .statistics-item {
    margin-bottom: 0; }
  .statistics .count {
    font-size: 64px; }
  .statistics .label {
    font-size: 16px; }

  .portfolio-nav {
    padding: 8% 0; }
    .portfolio-nav > li {
      margin: 0 5px;
      float: none;
      width: auto;
      padding: 0; }
      .portfolio-nav > li > a {
        padding: 10px 24px 6px 24px; }

  .portfolio-grid a::before, .portfolio-grid a::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear; }
  .portfolio-grid a:hover::before {
    background-color: rgba(86, 93, 103, 0.6); }
  .portfolio-grid a:hover::after {
    background-image: url("../images/thumbnail-hover-cross.png"); }

  #contact {
    text-align: left; }
    #contact .address, #contact address {
      margin-bottom: 43px; }

  .contact-short {
    margin-bottom: 45px; } }
@media (min-width: 1200px) {
  a.hexagon {
    width: 153px;
    height: 166px;
    font-size: 16px; }
    a.hexagon p {
      padding-top: 10%; }

  a.scroll-down {
    width: 82px;
    height: 82px; } }

/*# sourceMappingURL=style.css.map */
