@charset "utf-8";
/* CSS Document */

@import 'adds';

// GLOBAL
html, body {
  font-family: $font-default-stack;
  font-weight: $font-default-weight;
  font-size: $font-default-size;
  color: $color-prime;
  background-color: #fff;
  height: 100%;
  min-height: 100%;
}
body.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: darken($color-active,25%);
  background-image: url('../images/tail-spin.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25%;
}
body.loading >* {
  opacity: 0 !important;
  visibility: hidden !important;
}

// preload images for quick access during hover, active or focus
#preload {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

// colors, sizes, alignment
.color-prime {color: $color-prime;}
.color-active {color: $color-active;}
.max-width-100 {max-width: 100%;}
.vertical-align-parent {display: table; width: 100%; height: 100%;}
.vertical-align-child {display: table-cell; vertical-align: middle;}

// transition & animation
.transition-fast {@include Transition(all 0.1s linear)}
.transition {@include Transition(all 0.3s linear)}
.transition-long {@include Transition(all 0.6s linear)}
.opacityVisible {opacity: 1 !important; bottom: 0 !important;} // TODO Not used class / for future animation

// buttons
.btn-primary {
  background: $color-active;
  color: #fff;
  @include BorderRadius(5px);
  font-family: $font-default-stack;
  font-size: 20px;
  font-weight: 300;
  border-color: darken($color-active,15%);
  border-width: 0 0 3px 0;
  padding: 20px 60px;
  @include Transition(all 0.1s linear);
}
.btn-primary:focus, .btn-primary:hover {
  background: darken($color-active,15%);
  border-color: darken($color-active,15%);
}

// forms
form {
  ::-webkit-input-placeholder {color: #222;}
  :-moz-placeholder {color: #222;}
  ::-moz-placeholder {color: #222;}
  :-ms-input-placeholder {color: #222;}
}
.form-control {
  @include BorderRadius(0);
  border-color: #777;
  font-size: 23px;
  height: auto;
  padding: 20px 30px 10px;
  margin: 38px 0;
}
.form-control:focus {
  @include BoxShadow(none);
  border-color: $color-active;
}
.form-group:first-child {
  input, textarea {margin-top: 0;}
}

// section header
header h2 {
  font-family: $font-existence-stack;
  font-size: 48px;
  font-weight: 300;
  text-align: center;
  margin: 30px 0;
}
header h2.header::before, header h2.header::after {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('../images/header-corner.png');
  background-size: 30px;
  background-position: bottom left;
  background-repeat: no-repeat;
  position: relative;
  bottom: -30px;
}
header h2.header::after {
  -moz-transform: scale(-1,-1);
  -o-transform: scale(-1,-1);
  -webkit-transform: scale(-1,-1);
  transform: scale(-1,-1);
  filter: FlipH, FlipV;
  -ms-filter: "FlipH, FlipV";
  bottom: auto;
  top: -40px;
}

// slick slider
.slick-dots {
  li {
    width: 10px;
    height: 10px;
    button {
      width: 10px;
      height: 10px;
      padding: 0;
      margin: 0;
    }
    button:before {
      content: '';
      width: 9px;
      height: 9px;
      @include BorderRadius(50%);
      @include Transition(all 0.6s linear);
      border: 1px solid #777;
    }
  }
  li.slick-active {
    button:before {
      background-color: #777;
    }
  }
}

// alerts
.alerts {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.alerts.bottom {
  top: auto;
  bottom: 0;
  .alert:last-child {
    margin-bottom: 0;
  }
}
.alert {
  border: 0;
  @include BorderRadius(0);
}
.alert-warning {
  background: transparentize(#fcf8e3,0.1);
}
.alert-success {
  background: transparentize(#dff0d8,0.1);
}
.alert-info {
  background: transparentize(#d9edf7,0.1);
}
.alert-danger {
  background: transparentize(#f2dede,0.1);
}
// rest global styles
.blured-quote {
  padding: 8% 0;
  text-align: center;
  background-image: url('../images/blured.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  h3 {
    font-size: 24px;
    font-weight: 400;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff;
  }
}
.avatar, .slick-slide img.avatar {
  @include BorderRadius(50%);
  display: inline;
  max-width: 250px;
  max-height: 250px;
}
.social-icons {
  >a {
    color: $color-prime;
    display: inline-block;
    border: 1px solid #777;
    @include BorderRadius(50%);
    @include Transition(all 0.1s linear);
  }
}

// NAVBAR
.navbar-default {
  background: #fff;
  @include BoxShadow(none);
  @include BorderRadius(0);
  border: 0;
  margin: 0;
  @include Transition(height 0.1s linear);
  .navbar-brand {
    font-family: $font-existence-stack;
    font-size: 24px;
    font-weight: 300;
    color: $color-prime;
    padding: 0 15px;
    line-height: 50px;
    @include Transition(line-height 0.1s linear);
  }
  .navbar-toggle, .navbar-toggle:active, .navbar-toggle:focus, .navbar-toggle:hover {
    border-color: $color-active;
    background-color: $color-active;
    @include BorderRadius(0);
    margin: 0;
    padding: 17px;
    .icon-bar {
      background-color: #fff;
    }
  }
  ul.navbar-nav {
    li {
      a {
        font-size: 18px;
        color: $color-prime;
        background: #fff;
        text-transform: uppercase;
        padding: 0 15px;
        line-height: 2.5em;
        text-shadow: none;
        @include Transition(all 0.1s linear);
      }
      a:active, a:focus, a:hover, a.active {
        background: $color-active;
        color: #fff;
      }
    }
    li.active {
      a, a:active, a:focus, a:hover, a.active {
        background: $color-active;
        color: #fff;
      }
    }
  }
}
.navbar-default.navbar-start {
  position: absolute;
  z-index: 5;
  width: 100%;
}

// #HOME
a.hexagon {
  display: inline-block;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 4.5vw;
  margin: 10px 0;
  width: 100%;
  height: 181px;
  background-image: url('../images/hexagon.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  img {
    width: 15vw;
  }
  p {
    margin: 0;
    padding-top: 10%;
    font-weight: 400;
  }
}
a.scroll-down {
  display: inline-block;
  width: 90px;
  height: 90px;
  background-image: url('../images/scroll-down.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-bottom: 20px;
}
div.header {
  background-image: url('../images/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  header {
    .title {
      font-size: 48px;
      color: #fff;
      margin: 20px 0;
    }
    h3, p {font-weight: 300;}
    h3 {font-size: 36px;}
    p {font-size: 18px;}
  }
}
.header-inner {
  padding: 8% 0;
}
.feature {
  text-align: center;
  background-color: #eee;
  padding: 8% 0;
}
.feature-inner {
  padding-top: 140px;
}
.feature-item {
  margin: 30px 0;
  padding-top: 186px;
  background-position: top center;
  background-repeat: no-repeat;
  @include Transition(background 0.1s linear);
  h3 {
    font-weight: 300;
    font-size: 24px;
    margin: 15px 0;
  }
  p {
    font-size: 16px;
  }
}
.feature-item:nth-child(1) {background-image: url('../images/heart.png');}
.feature-item:nth-child(2) {background-image: url('../images/diamond.png');}
.feature-item:nth-child(3) {background-image: url('../images/cup.png');}
.feature-item:nth-child(4) {background-image: url('../images/phone.png');}

// #ABOUT
.about-top {
  padding: 8% 0;
}
.about-inner {
  padding-top: 8%;
  p {
    font-size: 16px;
    line-height: 36px;
  }
}
.about-text {
  text-align: center;
}

// #TEAM
.team-inner {
  padding-top: 8%;
}
.team-slider {
  padding: 8% 0;
  .slider-buttons {
    text-align: center;
    padding-bottom: 8%;
    >a {
      display: inline-block;
      margin: 0 5px;
    }
  }
}
.team-member {
  h4 {
    font-size: 24px;
    font-weight: 700;
    color: #484848;
    text-transform: uppercase;
    padding-top: 8%;
    margin: 0;
  }
  p {
    font-weight: 400;
    font-size: 18px;
    color: #777;
    padding: 5% 0;
    margin: 0;
  }
  .social-icons {
    >a {
      width: 45px;
      height: 45px;
      line-height: 45px;
      font-size: 1.2em;
      margin: 0 12px;
    }
  }
}

// #SKILLS
.experience {
  padding: 8% 0;
}
.progress {
  background: #f0f0f0;
  @include BoxShadow(none);
  @include BorderRadius(0);
}
.progress-item {
  padding: 0 5%;
  h3 {
    font-size: 22px;
    color: #222;
    text-transform: uppercase;
  }
  .rating {
    font-family: $font-helvetica-stack;
    font-size: 24px;
    font-weight: 300;
    color: #777;
  }
}
.progress-bar {
  background: $color-active;
}
.skills-bottom {
  padding: 8% 0;
  text-align: center;
  background-color: #eee;
}
.statistics {
  font-family: $font-helvetica-stack;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  .statistics-item {
    margin-bottom: 15px;
  }
  .count {
    font-size: 42px;
    color: #222;
    margin: 0;
  }
  .label {
    font-size: 18px;
    color: #777;
    margin: 0;
    padding: 0;
  }
}
.testimonial-slider {
  padding-top: 8%;
  margin: 0;
  .slick-dots {
    position: static;
    margin: 0;
  }
}
.testimonial-item {
  .content {
    font-family: $font-helvetica-stack;
    font-size: 18px;
    font-weight: 300;
    max-width: 75%;
    margin: 3% auto;
    color: #4b4b4b;
  }
  .content::before {content: '\201C';}
  .content::after {content: '\201D';}
  .label {
    font-family: $font-helvetica-condensed-stack;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #777;
    padding: 0;
  }
}

// #PORTFOLIO
#portfolio {
  font-family: $font-helvetica-stack;
  font-weight: 300;
  text-align: center;
}
.portfolio-inner {
  padding: 8% 0;
}
.portfolio-nav {
  border: 0;
  padding-top: 8%;
  >li {
    display: inline-block;
    margin-bottom: 15px;
    >a {
      margin: 0;
      font-size: 18px;
      text-transform: uppercase;
      color: #222;
      line-height: 1;
      padding: 10px 24px 6px 24px;
      border: 1px solid #000;
      background-color: #fff;
      @include BorderRadius(3px);
      @include Transition(all 0.1s linear);
    }
    >a:focus, >a:hover {
      color: #fff;
      background-color: $color-active;
      border-color: $color-active;
    }
  }
  >li.active {
    >a, >a:focus, >a:hover {
      color: #fff;
      background-color: $color-active;
      border-color: $color-active;
    }
  }
}
.portfolio-grid {
  margin-bottom: 30px;
  .row {
    >div {
      margin-bottom: 25px;
    }
  }
  a {
    display: block;
    position: relative;
    margin-bottom: 15px;
    img {
      width: 100%;
    }
  }
  figcaption {
    font-size: 20px;
    line-height: 1.1;
    color: #222;
  }
  .tags {
    font-size: 16px;
    color: #777;
    margin: 0;
  }
}

// #CONTACT
#contact {
  font-family: $font-helvetica-stack;
  font-weight: 300;
  text-align: center;
  header {
    padding: 8% 0;
  }
  form {
    margin-bottom: 38px;
  }
  .address, address {
    font-family: $font-helvetica-condensed-stack;
    font-weight: 700;
    font-size: 28px;
    color: #222;
    >a {
      color: #222;
    }
  }
  .social-icons {
    >a {
      width: 75px;
      height: 75px;
      line-height: 86px;
      font-size: 2.5em;
      margin: 0 12px;
      text-align: center;
    }
    >a:first-child {margin-left: 0;}
    >a:last-child {margin-right: 0;}
  }
}
.contact-short {
  font-size: 23px;
  color: #4b4b4b;
}

// FOOTER
.footer-inner {
  padding: 8% 0;
}
.template-name {
  font-family: $font-existence-stack;
  font-size: 50px;
  font-weight: 300;
  color: #676767;
  text-align: center;
}


// @MEDIA RWD
@media (min-width: $screen-xs-min) {
  a.hexagon {
    font-size: 18px;
    img {
      width: auto;
    }
  }
}
@media (min-width: $screen-sm-min) {
  body.loading {
    background-size: 8%;
  }
  header {
    h2 {
      margin: 20px 0;
    }
  }
  .blured-quote {
    h3 {
      font-size: 48px;
      font-weight: 300;
      margin-left: 0;
      margin-right: 0;
    }
  }
  a.hexagon {
    width: 167px;
    img {
      width: 40%;
    }
  }
  div.header {
    header {
      .title {font-size: 90px;}
      h3, p {font-weight: 100;}
      h3 {font-size: 48px;}
      p {font-size: 24px;}
    }
  }
  .testimonial-item {
    .content {
      font-size: 33px;
    }
  }
  .portfolio-grid {
    figcaption {
      font-size: 24px;
      line-height: 1.42857143;
    }
  }
}
@media (min-width: $screen-md-min) {
  .social-icons {
    >a:hover {
      color: $color-active;
      border-color: $color-active;
    }
  }
  .navbar-default {
    .navbar-collapse {
      padding: 0;
    }
    .navbar-brand {
      height: auto;
      line-height: 140px;
      font-size: 30px;
    }
    ul.navbar-nav {
      li {
        a {
          line-height: 140px;
        }
      }
    }
  }
  .navbar-default.navbar-start {
    height: 140px;
  }
  .navbar-default.navbar-fixed-top {
    height: 70px;
    .navbar-brand {
      line-height: 70px;
    }
    ul.navbar-nav {
      li {
        a {
          line-height: 70px;
        }
      }
    }
  }
  a.hexagon {
    width: 118px;
    height: 128px;
    font-size: 12px;
    p {
      padding-top: 6%;
    }
  }
  a.hexagon:active, a.hexagon:focus, a.hexagon:hover {
    background-image: url('../images/hexagon-active.png');
  }
  a.scroll-down {
    width: 64px;
    height: 64px;
  }
  a.scroll-down:hover {
    background-image: url('../images/scroll-down-active.png');
  }
  div.header {
    background-position: center center;
    background-attachment: fixed;
  }
  .home-grid {
    .grid-left {
      text-align: right;
    }
    .grid-right {
      text-align: left;
    }
  }
  .feature-item:hover:nth-child(1) {background-image: url('../images/heart-active.png');}
  .feature-item:hover:nth-child(2) {background-image: url('../images/diamond-active.png');}
  .feature-item:hover:nth-child(3) {background-image: url('../images/cup-active.png');}
  .feature-item:hover:nth-child(4) {background-image: url('../images/phone-active.png');}
  .about-text {
    text-align: left;
  }
  .statistics {
    .statistics-item {
      margin-bottom: 0;
    }
    .count {
      font-size: 64px;
    }
    .label {
      font-size: 16px;
    }
  }
  .portfolio-nav {
    padding: 8% 0;
    >li {
      margin: 0 5px;
      float: none;
      width: auto;
      padding: 0;
      >a {
        padding: 10px 24px 6px 24px;
      }
    }
  }
  .portfolio-grid {
    a::before, a::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      background-image: none;
      background-repeat: no-repeat;
      background-position: center center;
      @include Transition(all 0.1s linear);
    }
    a:hover::before {
      background-color: rgba(86,93,103,.6);
    }
    a:hover::after {
      background-image: url('../images/thumbnail-hover-cross.png');
    }
  }
  #contact {
    text-align: left;
    .address, address {
      margin-bottom: 43px;
    }
  }
  .contact-short {
    margin-bottom: 45px;
  }
}
@media (min-width: $screen-lg-min) {
  a.hexagon {
    width: 153px;
    height: 166px;
    font-size: 16px;
    p {
      padding-top: 10%;
    }
  }
  a.scroll-down {
    width: 82px;
    height: 82px;
  }
}